{% extends 'base.html.twig' %}

{% block title %}
Conférence {{conference.name}}
{% if conference.name == null %}
Conférence sans nom
{% endif %}
{% endblock %}

{% block body %}

	<div class="example-wrapper p-5">
		<h1 class="py-5">
			Faîtes-nous un retour sur la conférence {{conference.name}} !!!
		</h1>
		<ul class="list-group">
			<li class="list-group-item ">{{conference.city}}</li>
			<li class="list-group-item">{{conference.year}}</li>
			{% if conference.isInternational == 1 %}
				<li class="list-group-item">International</li>
			{% endif %}
			{% if conference.isInternational == 0 %}
				<li class="list-group-item">Pas a l'international</li>
			{% endif %}
			<h2 class="py-5">{{'Commentaire'~( comments|length > 1 ? 's' : '') }}</h2>
			{% for comment in comments %}
				<div class="container ">
					<ul class="p-5 list-group ">
						<li class="list-group-item active">
							{{comment.author}}
						</li>
						<li class="list-group-item">
							Email :
							{{comment.email}}
						</li>
						<li class="list-group-item">Date : {{comment.createdAt|date('Y-m-d')}}
						</li>
						<li class="list-group-item">
							Commmentaire : {{comment.text|raw}}
						</li>
					</ul>
				</div>
			{% endfor %}
		</ul>
	</div>
	<div class="col-12">
		{% if previous >= 0 %}
			<a href="{{ path('ficheConference', { id: conference.id, offset: previous }) }}" class="btn btn-sm btn-primary"><<</a>
		{% endif %}
		Il y a {{ comments|length~' commentaire'~( comments|length > 1 ? 's' : '') }}
		{% if next < comments|length %}
			<a href="{{ path('ficheConference', { id: conference.id, offset: next }) }}" class="btn btn-sm btn-primary">>></a>
		{% endif %}
	</div>
{% endblock %}
